<div class="span12">
  <h1>Categories</h1>
</div>

<div class="span12">
  <%= link_to 'New', new_category_path, class: 'btn btn-success' %>
</div>

<div class="span12">
  <table class="table">
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Parent</th>
    <th style="width: 5em"></th>
    </thead>
    <tbody>
      <% @categories.each do |c| %>
        <tr ng-repeat="c in categories">
          <td><%= c.id %></td>
          <td><%= c.name %></td>
          <td><%= c.parent.name unless c.parent.nil? %></td>
          <td>
            <div style="white-space: nowrap">
              <%= button_to_new Rule, params: { category_id: c.id }, text: 'New Rule' %>
              <%= button_to_edit c %>
              &nbsp;
              <%= button_to_destroy c %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
