<div class="row">
    <div class="col-xs-12 col-sm-12">
    <h1>Transaction Stats</h1>

    <div id="chart" style="width: 100%; height: 400px"></div>
    <%
      chart_series = @table.each_with_index.map do |row,i|
        { name: @categories[i].name, type: 'column', data: row.map { |x| x.to_f.abs }}
      end
      chart_series << {
        name: 'Income',
        type: 'line',
        data: @income_by_month.values.map { |i| i.to_f }
      }
    %>
    <script>
      $(function () {
        $('#chart').highcharts({
          chart: {
            type: 'column'
          },
          title: {
            text: 'Spending per Month by Category'
          },
          xAxis: {
            categories: <%= raw @months.to_json %>,
            tickmarkPlacement: 'on',
            title: {
              enabled: false
            }
          },
          yAxis: {
            title: {
              text: 'Dollars'
            }
          },
          tooltip: {
            shared: true,
            valueSuffix: ' USD'
          },
          plotOptions: {
            column: {
              stacking: 'normal',
              lineColor: '#666666',
              lineWidth: 1,
              marker: {
                lineWidth: 1,
                lineColor: '#666666'
              }
            },
            line: {
              lineColor: '#00cc33'
            }
          },
          series: <%= raw chart_series.to_json %>
        });
      });
    </script>

    <table class="table">
      <thead>
      <tr>
        <th></th>
        <% @months.each_with_index do |m,i| %>
          <th><%= link_to m.to_s, transactions_path(@date_ranges[i]) %></th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% @categories.each_with_index do |c,i| %>
        <tr>
          <td><strong>
            <%= link_to c.name, category_stats_path(category_id: c.id) %>
          </strong></td>
          <% @table[i].each_with_index do |stat,j| %>
            <% transaction_filters = { category_id: c.id }.merge(@date_ranges[j]) %>
            <% transaction_filters[:top_level] = @top_level %>
            <td class="currency">
              <%= link_to transactions_path(transaction_filters) do %>
                <div style="height:100%;width:100%">
                  <%= number_to_currency(stat) %>
                </div>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
        <tr>
          <td><strong>Total</strong></td>
          <% @months.each_with_index do |m,i| %>
            <td class="currency">
              <%= number_to_currency @table.map { |row| row[i] }.inject(:+) %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
