<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>

  <title>Dinheiro</title>

  <style>
      /* Ensure the body starts below the top navbar
       * (See "Fixed to top" on http://twitter.github.io/bootstrap/components.html#navbar */
    body {
      padding-top: 70px;
    }
  </style>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap.min' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'highcarts/highcharts' %>

</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Dinheiro</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li id="home-tab"><%= link_to 'Home', root_path %></li>
          <li id="accounts-tab"><%= link_to 'Accounts', accounts_path %></li>
          <li id="categories-tab"><%= link_to 'Categories', categories_path %></li>
          <li id="transactions-tab"><%= link_to 'Transactions', transactions_path %></li>
          <li id="stats-tab"><%= link_to 'Stats', stats_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container" id="content">
    <%= yield %>
  </div>

</body>
</html>
